
/* 
通用类
 */
.hide{
	/*display: none;*/
	height: 0;
}
/*.show{
	height: 
}*/
.pull_left{
	float: left;
}
.pull_right{
	float: right;
}
.clearfix{
	clear: both;
}



body{
	background-color: #e0e1e1;
}

.headbg{
	width: 100%;
	height: 174px;
	background: url(../img/topBg.jpg) repeat-x 0 44px;
}
.headbg img{
	float: left;
	margin: 20px 315px;
	
}

.topBar{
	width: 100%;
	height: 44px;
	 background: url(../img/topBar.jpg) repeat-x ;
	/* background-color: black;
	opacity: 0.3; */
}
.topBar ul{
	margin-top: 10px;
	margin-right: 100px;

}
.topBar ul li{
	float: left;
	display: inline-block;
	margin-right: 20px;
}
.topBar ul li a,.topBar ul li a:hover{
	font-size: 18px;
	color: #040000;
}

nav{
	width: 100%;
	height: 50px;
	background-color: #b6d1e8;
}
nav ul{
	margin: 0px 175px;
	padding-top: 10px;

}
nav ul li{
	float: left;
	display: inline-block;
	margin: 0 18px;
	font-size: 20px;
	
}

nav ul li a,nav ul li a:hover{
	color: #030a00;
}

.wrapper{
	margin: 0 auto;
	width: 1000px;
	min-height: 300px;
	
}

.messageWrapper{
	width: 720px;
	
	overflow:  hidden;
}


.messagge{
	margin: 20px 15px;
	
}


.portrait{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;

}
.messageBox{
	margin: 10px 10px;
	width: 584px;
	overflow: hidden;
}
.boxStyle{
	
	width: 584px;
	height: 14px;
	background-image: url(../img/boxStyle.png);

}
.imgMessage{
	margin-right: 4px;
	width: 560px;
	min-height: 350px;
	background-color: #fff;
	border-left:1px solid #C3C3C3;
	border-right:1px solid #C3C3C3;
	border-bottom:1px solid #C3C3C3;
	overflow: hidden;
}
.imgTitle{
	margin-left: 20px;
}
.imgMessage img{
	margin:20px -100px; 
	padding: 0;
	width: 40%;
}
.boxImg{
	margin: 30px;
}
p.descrip{
	margin-top: 30px;
	margin-right: 70px;
}

p.date{
	margin-top: 140px;
	margin-right: -80px;
}

ul.excute{
	float: right;
}
ul.excute li{
	float: left;
	margin-right: 5px;
	display: inline-block;	
}
ul.excute li a{
	color:gray; 
}
.sort{
	width: 250px;
	min-height: 300px;
	margin-right: 20px;
	border: 1px black solid;
	text-align: center;
}
.sort ul{
	margin-left: 80px;

}
.sort ul li{
	margin-top: 5px;
}
.sort ul li a{
	
	font-size: 16px;
	font-family: SimYou;
	color: #030a00;

}

p.sortTitle{
	font-size: 16px;

}

a.publish{
	margin-left: 600px;
	font-size: 20px;
	color: gray;
}
.bodyMask{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	background-color: black;	
}
/*.publishAlertBox input{
	width: 100%;
	background-color: transparent;
}*/
.functionBar{
	width: 100%;
	height: 20px;
	background-color: #f3f3f3;
}
.functionBar ul{
	height: 40px;
}
.functionBar ul li{
	margin: 10px 10px;
	display: inline-block;
	float: left;

}
.functionBar ul li a{
	color: #b3b3b3;
}
p.notice{
	margin: 25px 40px;
	font-size: 14px;
	
	
}
footer{
	margin-top:20px; 
	width: 100%;
	height:100px;
	background-color: #565a59;
}


.publishAlertBox{
	margin: 20px 50px;
	width: 450px;
	min-height:400px;
	border:1px #8c969a solid;
}

/*分页*/
#pageGro{ 
	width:400px;
	height:25px;
	margin:0px auto;
	padding-top:30px;
}
#pageGro div,#pageGro div ul li{
 font-size:12px;
 color:#999;
 line-height:23px;
 float:left;
 margin-left:5px;
}
#pageGro div ul li{
 width:22px;
 text-align:center;
 border:1px solid #999;
 cursor:pointer;
}
#pageGro div ul li.on{
	color:#fff;
	background:#3c90d9;
	border:1px solid #3c90d9;
}
#pageGro .pageUp,#pageGro .pageDown{
 width:63px;
 border:1px solid #999;
 cursor:pointer;
}
#pageGro .pageUp{ 
	text-indent:23px;
	background:url(images/pageUp.png) 5px 7px no-repeat;
}
#pageGro .pageDown{
 text-indent:5px;
 background:url(images/pageDown.png) 46px 6px no-repeat;
}

/*-----------发布栏--------*/
.publishAlert{
	/*margin: 0 auto;*/
	position: absolute;
	z-index: 3;
	left: 28%;
	top: 20%;
	width: 560px;
	height: 495px;
	background-color: #a9cedc;
	display: none;
	/*height: 0;*/
	/*overflow: hidden;*/
}
.publishAlertBox p{
	font-family: SimYou;
	color: #6a8690;
}
.addimg{
	width:500px;
	height:100px;
	margin: 0 auto;
	background-color: #fff;
}
.addtext{
	width:500px;
	height:200px;
	margin: 0 auto;
	margin-top: 10px;
}
.aTextbox{
	width:500px;
	height:150px;
	margin: 0 auto;
	margin-top: 10px;
}

/*-----------------------------表情---------------------------------------*/
  .comment-main{
    display:inline-block;
    *display:inline;
    zoom:1;
    width:500px;
    margin:0 auto;
    margin-top: 20px;
    border:1px solid #ddd;
    background:#eee;
    padding:20px;
    border-radius:3px;
    text-align:left;
  }
  .comment-main textarea{
    width:100%;
    border:1px solid #dcdcdc;
  }
  .comment-main textarea:focus{
    outline:none;
    border-color:#4bf;
  }
  .comment-main a{
    font-size:12px;
    text-decoration:none;
    color:#09c;
  }
  .comment-main a:hover{
    color:#E10602;
  }
  .rl_exp{
  margin:0 auto;position:fixed;width:482px;
  padding:20px;border: 1px solid #D0D0D0;
  box-shadow: 0 0 2px 2px #fff inset,1px 1px 0 rgba(127,127,127,0.1);
  overflow: hidden;background: none repeat scroll 0 0 white;zoom:1;z-index:100;
}
/*隐藏浏览器的outline,兼容IE。*/
.rl_exp a{outline:none;blr:expression(this.onFocus=this.blur());}
.rl_exp ul{list-style:none;margin:0;padding:0;}
.rl_exp ul li{display:list-item;}
.rl_exp ul.rl_exp_tab{
  margin:-20px -20px 20px;padding:12px 13px 0;list-style:none;
  border-bottom:1px solid #d0d0d0;border-top:1px solid #fff;
  background: -moz-linear-gradient(center top , #F6F6F6, #E5E5E5) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear,center top ,center bottom,from(#f6f6f6),to(#E5E5E5)) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#E5E5E5');
}
.rl_exp ul.rl_exp_tab li{float:left;margin-right:10px;display:list-item;text-align: -webkit-match-parent;}
.rl_exp ul.rl_exp_tab li a{
  display: block;padding: 8px 14px;font-size:13px;text-decoration: none;color: #979797;border: 1px solid #c3c3c3;
  margin-bottom: -1px;
  background: #E4E4E4;text-shadow: #fff 0 1px;
}
.rl_exp ul.rl_exp_tab li a.selected{zoom:1;background: #fff;border-bottom: 1px solid #fff;box-shadow: none;text-shadow: none;}

/*表情内容样式*/
.rl_exp_main{margin:0;padding:0;}
.rl_exp_item{
  cursor:pointer;float:left;border:1px solid red;height:24px;width:24px;overflow:hidden;margin:-1px 0 0 -1px;padding:6px;text-align:center;
  border-color: #fce089;background: #fef9e7;
}
.rl_exp_item:hover{border:1px solid #0095cd;background:#fff9ec;position:relative;z-index:2;}
.rl_exp_item img{display:inline-block;*zoom:1;border:0;}

.close{
  position:absolute;right:6px;top:6px;text-decoration:none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:20px;line-height:12px;
  color:#000;text-shadow:0 1px 0 #fff;opacity:0.2;filter:alpha(opacity=20);
}
.close:hover,.close:focus{
  color:#000;cursor:pointer;opacity:0.4;filter:alpha(opacity=40);
}
/*公共清浮类，摘自bootstrap*/
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:"";}
.clearfix:after{clear:both;}
